.about-us-wrapper {
  padding: 20px;
  margin: 20px 0;
}

.about-us {
  text-align: center;
}

.about-us h2 {
  font-size: 2rem;
  margin-bottom: 15px;
  color: #333;
}

.about-us p {
  font-size: 1rem;
  line-height: 1.5;
}
