* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex: 1;
  padding: 20px;
}

.footer {
  background-color: #333; /* Change to your desired color */
  color: white;
  text-align: center;
  padding: 10px;
}

.hot-categories,
.new-arrivals {
  padding: 20px;
  background-color: #f9f9f9; /* Light background color for sections */
  text-align: center;
}

.categories-container,
.arrivals-container {
  display: flex;
  justify-content: space-around; /* Space items evenly */
  flex-wrap: wrap; /* Wrap items if they don't fit in one row */
}

.category,
.arrival {
  margin: 10px;
  border: 1px solid #ddd; /* Light border for items */
  border-radius: 8px; /* Rounded corners */
  padding: 10px;
  width: 150px; /* Fixed width for items */
}

.category img,
.arrival img {
  max-width: 100%; /* Responsive images */
  border-radius: 5px; /* Rounded corners for images */
}
